div.button {
	min-height: 450px;
}

div.button a {
	text-decoration: none;
	margin-right: 2vw;
}

.btn_subtle {
	color: white;
	background-color: #01BFA5;
	border: 1px solid white;
	padding: 10px 40px;
	border-radius: 20px;
	font-size: larger;
}

.btn_subtle:hover {
	color: #01BFA5;
	background-color: white;
}

.btn_sign_up {
	color: black;
	background-color: #ffdb4d;
	border-radius: 4px;
	font-size: larger;
	padding: 15px 40px;
}

.btn_sign_up:hover {
	color: black;
	background-color: #ffd11a;
}

.btn_rainbow {
	background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
	color: white;
	padding: 30px 40px;
	border-radius: 5px;
}

.btn_rainbow:hover {
	background-image: radial-gradient(red,orange,yellow,green,blue,indigo,violet);
	background-color: white;
	color: black;
}

#george {
	display: inline;
	width: 153px;
	height: 229px;
}

.btn_george img {
	border-radius: 60px;
	border: 2px solid white;
}

#squares {
	display: inline;
}

.btn_squares img {
	width: 150px;
	height: 150px;
	border: 2px solid orange;
	border-radius: 50%;
}

.btn_squares img:hover {
	border: 5px solid white;
}

#train {
	display: inline;
}

#choo_choo {
	position: relative;
	color: white;
	font-size: 40px;
	top: -45px;
	left: -230px;
/*	left: calc(5vw + 20px);*/
	z-index: -10;
}

#muthafuckas {
	position: relative;
	color: white;
	font-size: 35px;
/*	left: calc(5vw + 25px);*/
	top: 65px;
	left: -425px;
	z-index: -10;
}

.btn_choo_choo img {
	height: 150px;
	width: 250px;
	border: 2px solid white;
}

.btn_choo_choo img:hover {
	border: 2px solid red;
}

.btn_choo_choo:hover #choo_choo {
	z-index: 10;
}

.btn_choo_choo:hover #muthafuckas {
	z-index: 10;
}